.FancyBorder {
    padding: 10px 10px;
    border: 10px solid;

    &-blue {
        border-color: blue;
    }

    &-red {
        border-color: red;
    }

    .Dialog-title {
        margin: 0;
        font-family: sans-serif;
      }
      
    .Dialog-message {
    font-size: larger;
    }
  }
  